body {
  margin: auto;
  width: 100%;
  /*positionfixed*/
}

h1 {
  font-family: "Courier New";
  font-size: 28px;
  font-weight: bold;
  color: rgb(255, 255, 0);
  background-color: rgb(255, 102, 153);
  padding-left: 10px;
  margin: 10px;
}

h2 {
  font-family: "Courier New";
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 102, 153);
}

p {
  font-family: "Courier New";
}

a:link {
  font-family: "Courier New";
  font-weight: bold;
  color: rgb(0, 204, 255);
  text-decoration: none;
  margin: 5px;
}

a:visited {
  font-family: "Courier New";
  font-weight: bold;
  color: rgb(0, 204, 255);
  text-decoration: none;
}

a:hover {
  font-family: "Courier New";
  font-weight: bold;
  background-color: rgb(255, 102, 153);
  color: rgb(255, 255, 0);
  text-decoration: none;
  padding: 5px;
  font-style: italic;
}

header {
  width: 100%;
  margin: auto;
}

#col1 {
  width: 25%;
  height: 120px;
  float: left;
  margin-top: 20px;
  margin-left: 25%;
}

#col2 {
  width: 25%;
  height: 120px;
  float: right;
  margin-top: 20px;
  margin-right: 25%;
}

footer {
  background-color: rgb(0, 204, 255);
  clear: left;
  clear: right;
  text-align: right;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer a:link {
  font-family: "Courier New";
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 0);
  text-decoration: none;
  padding: 10px;
}

footer a:visited {
  font-family: "Courier New";
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 0);
  text-decoration: none;
}

footer a:hover {
  font-weight: bold;
  padding: 10px;
  font-style: normal;
}

ul {
  list-style-type: circle;
  color: rgb(255, 102, 153);
}

ol {
  list-style-type: lower-roman;
  color: rgb(255, 102, 153);
}

li {
  margin: 6px;
}

#mySketch {
  width: 100%;
  max-width: 850px;
  margin: auto;
}

#mainlist {
  color: rgb(0, 204, 255);
  width: 600px;
  height: 760px;
  margin: auto;
}

#mainlist h2 {
  text-align: center;
}

#mainlist ol li {
  margin-left: 25px;
  color: rgb(0, 204, 255);
}

#comparative {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
}

#comparative img {
  margin: 10px;
}

#research {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
}

#research p {
  text-indent: 50px;
}

#research ul {
  list-style-type: circle;
}

#research li {
  font-family: "Courier New";
}

/*Audience Research styling*/

#audience {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-bottom: 30px;
  margin-right: auto;
}

#audience h3 {
  font-style: italic;
  font-family: "Courier New";
  font-size: 17px;
  font-weight: bold;
  color: rgb(255, 102, 153);
  width:100%;
  max-width:600px;
  margin:auto;
}

#audience h2 {
  text-align: center;
  width:100%;
}

#audience p {
  text-indent: 50px;
  background-color: rgb(255, 102, 153);
  color: rgb(255, 255, 0);
  border-radius: 10px;
  width: 100%;
  max-width:600px;
  padding: 10px;
  margin-bottom: 20px;
}

#audience ul {
  list-style-type: circle;
  width: 100%;
  margin: auto;
}

#audience li {
  font-family: "Courier New";
  color: black;
}

#audience img{
  padding:20px;
  width:100%;
  max-width:600px;
  margin: auto;
  text-align: center;
}

em {
  font-style: italic;
  color: rgb(0, 204, 255);
}

#storyboards{
  width:100%;
  max-width:900px;
  margin:auto;
  text-align:center;
}

#storyboards img{
  float:left;
  clear:left;
  margin-bottom:30px
}

#storyboards p{
  width:100%;
  max-width:270px;
  float:right;
  clear:right;
  text-align:left;
  background-color: rgba(255, 102, 153,0.5);
  border-radius: 10px;
  padding:10px;
  margin-bottom:20px;
}

.moodboards{
  width:100%;
  max-width:900px;
  margin:auto;
  text-align:center;
  margin-bottom:80px;
}

.moodboards ul{
  list-style-type:none;
}

.moodboards li{
  display:inline-block;
  color:#ffccff;
  font-family:"Arial";
  font-size:12px;
}

.moodboards a:link{
  padding:0px;
  margin:0px;

}

.moodboards a:hover{
  opacity:0.5;
}

#brief{
  width:70%;
  max-width:800px;
  background-color:#ffccff;
  border-radius:20px;
  padding:30px;
  margin-right:auto;
  margin-bottom:40px;
  margin-left:auto;
}

#brief p{
  background-color:rgba(255, 255, 204,0.7);
  border-radius:20px;
  padding:10px;
  margin:10px;
  font-family:"Arial";
  font-size:14px;
  color:rgb(255, 102, 153);
}
