body {
  width: 100%;
  max-width: 1366px;
  background-color: rgb(255, 255, 204);
}

article {
  width: 24%;
  min-width: 330px;
  max-width: 683px;
  float: left;
  clear: left;
  text-align: right;
  margin-top: 200px;
  margin-left: 30px;
}

form {
  font-family: "helvetica";
  color: rgb(128, 170, 255);
}

h1 {
  font-family: "helvetica";
  color: rgb(204, 229, 255);
  width: 100%;
  max-width: 600px;
  margin-left: 30px;
  position: fixed;
}

label {
  font-family: "helvetica";
  color: rgb(128, 170, 255);
  font-size: 14px;
}

input[type="text"] {
  width: 60%;
  margin: 1px;
  border: none;
  /*remove default*/
  border-radius: 1px;
  border-bottom: rgb(255, 102, 255) solid;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 153, 255);
  color: antiquewhite;
}

input[type="text"]:focus {
  border-bottom: rgb(255, 77, 77) solid;
  background-color: rgb(255, 153, 153);
  color: rgb(0, 153, 204);
}

input[type="reset"] {
  margin: 1px;
  border: none;
  /*remove default*/
  border-radius: 1px;
  border-bottom: rgb(204, 230, 255) solid;
  font-size: 15px;
  background-color: rgb(153, 187, 255);
  color: antiquewhite;
}

input[type="submit"] {
  margin: 1px;
  border: none;
  /*remove default*/
  border-radius: 1px;
  border-bottom: rgb(204, 230, 255) solid;
  font-size: 15px;
  background-color: rgb(153, 187, 255);
  color: antiquewhite;
}

#results {
  width: 80%;
  max-width: 750px;
  margin-top: 10px;
  float: right;
  clear: right;
}

#results p {
  font-family: "helvetica";
  width: 80%;
  max-width: 750px;
  padding: 24px;
  border-radius: 11px;
  font-size: 17px;
  text-align: left;
  line-height: 28px;
  color: cornflowerblue;
}

ul {}

li {
  text-align: left;
  list-style-type: none;
  color: cornflowerblue;
  font-family: "helvetica";
}

a:link {
  color: deeppink;
  font-family: "helvetica";
  text-decoration: none;
}

a:visited {
  color: deeppink;
  font-family: "helvetica";
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
  font-family: "helvetica";
  text-decoration: none;
}

a:active {
  color: deeppink;
  font-family: "helvetica";
  text-decoration: none;
}

img {
  margin-top: 180px;
  margin-left: 15px;
  position: fixed;
}

footer {
  background-color: cornflowerblue;
  clear: left;
  clear: right;
  text-align: left;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer a:link {
  color: antiquewhite;
  font-family: "helvetica";
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

footer a:visited {
  color: antiquewhite;
  font-family: "helvetica";
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

footer a:hover {
  color: deeppink;
  font-family: "helvetica";
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

/*CSS ANIMATIONS AND TRANSITIONS + JS-UPDATE TOP[OR OTHER direction]...myContainer.style('top','-1000px')*/
